@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}
.html{
    font-family: var(body font);
    font-size: 10px;
    color:var( body font color);
    scroll-behavior: smooth;
}
section{ 
    padding: 3.9rem 0;
    }
img{ 
    width: 100%;
    max width: 100%;
}
a{
    text-decoration: none;
}

p{
    font-size 1.6rem;
}
  .container{
  width: 100%;
      max-width: 122.5rem;
      margin: 0 auto;
      padding:0 2.4rem;
}
/* Header*/
header{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
    background image:linear gradient(to bottom, rgba(0,0,0,.5), transparent);
}
.nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.menu-toggle{
    color:#ffffff;
    font-size:2.2rem;
    position: absolute;
    top:50%
        transform: translateY(-50%);
righ:2.5rem;
    cursor:pointer;
    z-index:1500;
  }
.fa-times{
    dispaly: none;
}
    
.menu ul{
display: inline-flex;
margin: 50px;
}
.menu ul li{
list-style: none;
margin:0 20px;
color:#ffffff;
cursor: pointer;
}

.active{
color: #black !important;
}
.banner{
width:80%;
height:70%;
top: 25%;
left:130px;
position: absolute;
color: #ffffff;
}
.text{
width: 50%;
float: left;
}
.text h1{
font-size: 43px;
width: 640px;
position: relative;
margin-left:  40px;
}

p{
width:650px;
font-size: 14px;
margin:30px 0 30px 40px;
line-height: 28px
color:#ffffff;

}


.gallery{
width: 67%;
float:bottom middle;
}
.gallery image{
max-width: 100%;



}

main{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}


