*{
margin:0;
}

body {
}

img{
max-width:100%;
}

h1 {
margin:8px 0 4px 0;
color: white;

}

p{
font-family: sans-serif;
margin-bottom: 12px;
color: white;
}


main{
margin:20px auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;

}

.info{

flex-basis: 400px;
margin: 0 10px;
}

.gallery{
flex-basis: 300px;

}
